<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
  rel="stylesheet"
/>

<div>
  <div class="contenido" id="AcM">
    <div class="contenidoHis">
      <h1>ZAUN</h1>
      <p>
        Zaun, also known as the City of Iron and Glass, is a large, undercity
        district, lying in the deep canyons and valleys threading Piltover Crest
        icon.png Piltover. What light reaches below is filtered through fumes
        leaking from the tangles of corroded pipework and reflected from the
        stained glass of its industrial architecture. Zaun and Piltover were
        once united, but are now separate, yet symbiotic societies. Though it
        exists in perpetual smogged twilight, Zaun thrives, its people vibrant
        and its culture rich. Piltover's wealth has allowed Zaun to develop in
        tandem; a dark mirror of the city above. Many of the goods coming to
        Piltover find their way into Zaun's black markets, and hextech inventors
        who find the restrictions placed upon them in the city above too
        restrictive often find their dangerous researches welcomed in Zaun.
        Unfettered development of volatile technologies and reckless industry
        has rendered whole swathes of Zaun polluted and dangerous. Streams of
        toxic runoff stagnate in the city's lower reaches, but even here people
        find a way to exist and prosper
      </p>
    </div>
    <div class="content-img">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/trans-run-330906.appspot.com/o/Act%202%204K%20(15).jpg?alt=media&token=8eb01a22-2e5b-41fe-a33c-f1fbe2d25637"
        class="imgInfi"
      />
    </div>
    <div class="content-img">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/trans-run-330906.appspot.com/o/arcane-titlessd.png?alt=media&token=77848ce0-22e7-489a-bf62-44b690a0fdff"
        class="imgInfiB"
      />
    </div>
    <div class="contenidoHis2">
      <h1>PILTOVER</h1>
      <p>
        Piltover, also known as the City of Progress, is a thriving, progressive
        city whose power and influence is on the rise. It is Valoran's cultural
        center, where art, craftsmanship, trade and innovation walk hand in
        hand. Its power comes not through military might, but the engines of
        commerce and forward thinking. Situated on the cliffs above the district
        of Zaun Crest icon.png Zaun and overlooking the ocean, fleets of ships
        pass through its titanic sea-gates, bringing goods from all over the
        world. The wealth this generates has given rise to an unprecedented boom
        in the city's growth. Piltover has - and still is - reinventing itself
        as a city where fortunes can be made and dreams can be lived. Burgeoning
        merchant clans fund development in the most incredible endeavors: grand
        artistic follies, esoteric hextech research, and architectural monuments
        to their power. With ever more inventors delving into the emergent lore
        of hextech, Piltover has become a lodestone for the most skilled
        craftsmen the world over.
      </p>
    </div>
    <div class="contenidoHis">
      <h1 class="jugabilidad">HEXTECH</h1>
      <p>
        Hextech is the newly emergent fusion of Elemental and Spirit magic and
        technology used to create exquisite artifacts that can be wielded by
        anyone, not just those few with a natural aptitude for the arcane. It
        harnesses the magical power contained within extremely rare crystals
        crystals. In the Arcane (TV Series), these crystals are shown to be
        extremely volatile and widely explode from just a little bit of impact.
        Jayce Jayce and his partner Viktor Viktor were able to refine these
        crystals and turn them into Hextech gemstones: small, sphere shaped
        crystals (similar in appearance to blue marbles) that could endure great
        amounts of impact without reacting violently. With Hextech gemstones
        being able to be wielded safely by people, it could then be used to
        power up portable hextech devices.
      </p>
    </div>
    <div class="content-img">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/trans-run-330906.appspot.com/o/Act%201%204K%20(5).jpg?alt=media&token=38a682be-2794-4fe1-966b-bce1176e775e"
        class="imgInfi"
      />
    </div>
  </div>
</div>
