<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Oswald:wght@200&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

<header>
    <div class="container">
        <div class="menu">
            <a href="index.html"><img src="https://firebasestorage.googleapis.com/v0/b/trans-run-330906.appspot.com/o/arcane-logo2.png?alt=media&token=b68af3aa-a889-49f8-8dfb-19285c35f2be" class="logo" /></a>
            <nav>
                <ul id="menuList">
                    <li><a href="#AcM">Acerca del mundo</a></li>
                    <li><a href="#Personajes">Personajes</a></li>
                    <li><a href="#Capitulos">Capitulos</a></li>
                    <li><a href="#Extra">Contenido Extra</a></li>
                </ul>
            </nav>
            <!--<a href="#Home"><img src="/img/LogoMenu.png" class="logoMenu" onclick="togglemenu()" /></a>-->
        </div>
    </div>
</header>