* {
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to bottom, rgb(13, 18, 56), rgb(0, 0, 0));
}

nav {
  flex: 1;
  text-align: right;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

a {
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}

a:hover {
  text-decoration: underline rgb(234, 238, 5);
}

.logo {
  width: 350px;
  margin: 30px 0;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
}

.menu li:visited,
:active,
:link {
  text-decoration: none;
}
.container {
  padding-left: 8%;
  padding-right: 8%;
  overflow: hidden;
}

#menuList {
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
