<h1 id="Capitulos">-Capitulos-</h1>
<div class="contenedor-capitulos">
  <div class="contenedor-img">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/trans-run-330906.appspot.com/o/Act%201%204K%20(1).jpg?alt=media&token=8e39663b-69c2-4435-bb16-bd2c2ea8b0cb"
      alt=""
    />
    <div class="contenedor-texto">
      <h3>1.- ¡Bienvenidos!</h3>
      <h4>43 min</h4>
      Las hermanas huérfanas Vi y Powder causan problemas en las calles
      clandestinas de Zaun tras un robo en la lujosa ciudad de Piltóver.
    </div>
  </div>
  <div class="contenedor-img">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/trans-run-330906.appspot.com/o/Act%201%204K%20(9).jpg?alt=media&token=448f6cb4-97cd-48de-b680-77425232bb50"
      alt=""
    />
    <div class="contenedor-texto">
      <h3>2.- Algunos misterios estan mejor sin resolver</h3>
      <h4>41 min</h4>
      El idealista inventor Jayce intenta dominar la magia con la ciencia, a
      pesar de los consejos de su mentor. El líder criminal Silco experimenta
      con una poderosa sustancia.
    </div>
  </div>
  <div class="contenedor-img">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/trans-run-330906.appspot.com/o/Act%201%204K%20(56).jpg?alt=media&token=934ba4b1-0cc4-43f1-a6df-0647542356d3"
      alt=""
    />
    <div class="contenedor-texto">
      <h3>3.- La violencia bruta es necesaria para el cambio</h3>
      <h4>44 min</h4>
      Un enfrentamiento épico entre viejos rivales trae graves consecuencias
      para la localidad de Zaun. Jayce y Viktor lo arriesgan todo por su
      investigación.
    </div>
  </div>
  <div class="contenedor-img">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/trans-run-330906.appspot.com/o/Act%202%204K%20(2).jpg?alt=media&token=4c518142-3309-4d0b-b2fc-00a7ba224294"
      alt=""
    />
    <div class="contenedor-texto">
      <h3>4.- ¡Feliz Día del Progreso!</h3>
      <h4>41 min</h4>
      Ya que Piltóver se está beneficiando de su tecnología, Jayce y Viktor
      piensan en el siguiente paso. Una cara familiar de Zaun reaparece y
      provoca un caos.
    </div>
  </div>
  <div class="contenedor-img">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/trans-run-330906.appspot.com/o/Act%202%204K%20(19).jpg?alt=media&token=f629e9e8-ee06-40f5-8f9f-c6b551f09bc4"
      alt=""
    />
    <div class="contenedor-texto">
      <h3>5.- Todo el mundo quiere ser mi enemigo</h3>
      <h4>41 min</h4>
      La rebelde vigilante Caitlyn recorre el distrito suburbano para localizar
      a Silco. Jayce se convierte en un blanco al intentar erradicar la
      corrupción en Piltóver.
    </div>
  </div>
  <div class="contenedor-img">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/trans-run-330906.appspot.com/o/Act%202%204K%20(61).jpg?alt=media&token=c3855cf3-2485-4c3b-ae65-392398e4fa01"
      alt=""
    />
    <div class="contenedor-texto">
      <h3>6.- Cuando caigan estos muros</h3>
      <h4>42 min</h4>
      Un protegido menoscaba a su tutor en el Consejo, mientras una tecnología
      mágica evoluciona rápidamente. Con las autoridades detrás de ella, Jinx
      debe afrontar su pasado.
    </div>
  </div>
  <div class="contenedor-img">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/trans-run-330906.appspot.com/o/Act%203%204K%20(46).jpg?alt=media&token=a1700153-b3d0-4d37-a2d0-81a16f8e09f1"
      alt=""
    />
    <div class="contenedor-texto">
      <h3>7.- El salvador</h3>
      <h4>40 min</h4>
      Caitlyn y Vi se reúnen en un callejón de Zaun y se dirigen hacia una
      frenética pelea con una enemiga en común. Viktor toma una complicada
      decisión.
    </div>
  </div>
  <div class="contenedor-img">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/trans-run-330906.appspot.com/o/Act%203%204K%20(140).jpg?alt=media&token=ff2c5642-ba6a-43a4-b84d-461a5cd8a7f0"
      alt=""
    />
    <div class="contenedor-texto">
      <h3>8.- Agua y aceite</h3>
      <h4>40 min</h4>
      La desterrada heredera Mel y su madre, que está de visita, intercambian
      tácticas de combate. Caitlyn y Vi forman una inesperada alianza. Jinx
      tiene un cambio impactante.
    </div>
  </div>
  <div class="contenedor-img">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/trans-run-330906.appspot.com/o/Act%203%204K%20(242).jpg?alt=media&token=433472bd-2927-4397-a41a-3e2e1c9e80b5"
      alt=""
    />
    <div class="contenedor-texto">
      <h3>9.- El monstruo que creaste</h3>
      <h4>39 min</h4>
      Cuando la guerra acecha peligrosamente, los líderes de Piltóver y Zaun
      reciben un ultimátum. Pero un enfrentamiento fatídico cambia ambas
      ciudades para siempre.
    </div>
  </div>
</div>
