
<header-prin></header-prin>

<div class="img-arcane-city">
  <img src="https://firebasestorage.googleapis.com/v0/b/trans-run-330906.appspot.com/o/Act%201%204K%20(8).jpg?alt=media&token=1adfec8c-68f9-45fb-ad54-6f2f13fe2e58" alt="">
</div>

<app-content></app-content>
<personajes></personajes>
<app-capitulos></app-capitulos>
<app-extra></app-extra>
<div class="inf-arc">
  <p>
    INFORMACION SACADA DE:
    <a href="https://leagueoflegends.fandom.com/wiki/Arcane_(TV_Series)">
      League of Legends Wiki
    </a>
  </p>
</div>